<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PIKAIA</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
  </head>
  <body>
    <div class="left">
      <h1>Hey User, PIKAIA is running on Azure Cloud.</h1>
      <h5>Your deployment was successful 🚀</h5>
      <p>PIKAIA endpoints are avsailable now. Start using</p>
    </div>
    <div class="right">
      <img src="" pikaia\veiws\LOGO.png />
    </div>
  <div class="right">
  </div>
  </body>
</html>
