<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PIKAIA</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/LOGO.png')}}">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
  </head>
  <body>
    <div class="left">
        <img class="azure" src="{{url_for('static', filename='assets/Azure Logo.png')}}"/>
      <h1>Hey, PIKAIA is running on Azure Cloud.</h1>
      <h5>Your deployment was successful 🚀</h5>
        <img class="pipeline" src="https://dev.azure.com/CS2019678/PIKAIA-REST/_apis/build/status/PIKAIA-project.PIKAIA-REST?branchName=main"/>
      <p>PIKAIA endpoints are available now.</p>
    </div>
    <div class="right">
      <img src="{{url_for('static', filename='assets/LOGO.png')}}"/>
    </div>
  </body>
</html>
